@model Category
@{
    ViewBag.Subtitle = "Eliminar Categoria";
}

<h1 class="text-primary">@ViewBag.Subtitle</h1>
<hr>
<h4>Tem a certeza que pretende eliminar a categoria <span class="text-danger">@Model.Name?</span></h4>

<form asp-action="Delete" class="w-25">
    <input type="hidden" asp-for="@Model.CategoryId">
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>