@{
    ViewBag.Subtitle = "Página Principal";
}

<h1 class="text-primary">Bem-vindo ao <b>Product Management</b></h1>
<hr>
<p>
    Aplicação web que permite a gestão de stock de produtos. Utilize o menu superior para aceder oas recursos da
    aplicação.
</p>
