@model Client
@{
    ViewData["Subtitle"] = "Apagar Cliente";
}

<h1 class="text-primary">@ViewData["Subtitle"]</h1>
<hr>
<h4>Deseja realmente excluir o cliente <span class="text-danger">@Model.Name?</span></h4>

<form asp-action="Delete" class="w-25">
    <input type="hidden" asp-for="@Model.UserId">
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>